# ========== SERVIDOR ==========
PORT=3001
NODE_ENV=development  # production | development

# ========== JWT (JSON Web Token) ==========
JWT_SECRET=s3Crwt0
JWT_EXPIRES_IN=1h  # 7 días, también: 24h, 30d, 1h

# ========== OPCIONAL PERO COMÚN ==========
# Para frontend (vistas)
API_URL=https://super-duper-umbrella-x5j66x945vp2vg9g-3000.app.github.dev/

# CORS (si tu frontend está en otro puerto)
FRONTEND_URL=https://cautious-space-waddle-x5xj577gxwqj2vxvj-3001.app.github.dev/  # o el puerto de tus vistas

# Para emails
EMAIL_USER=bossbudgetproyect@gmail.com
EMAIL_PASS=vuim wbtl pjpr bcyz
